<h1 class="text-center">Editar cadastro</h1>

<div class="container-fluid">
    <form #formCadastro="ngForm" class="formCadastro">
        <div class="form-group">
            <label for="nomePaciente">Nome do paciente</label>
            <input type="text" id="nomePaciente" name="nomePaciente" [(ngModel)]="cadastro.nomePaciente" #nomePaciente="ngModel" class="form-control">
        </div>
        <div class="form-group">
            <label for="prioridade">Prioridade</label>
            <select name="prioridade" id="prioridade" [(ngModel)]="cadastro.prioridade" #prioridade="ngModel" class="form-control">
                <option value="Imediato">Imediato (Alto risco)</option>
                <option value="Prioritário">Prioritário</option>
                <option value="Pouca gravidade">Pouca gravidade</option>
                <option value="Sem gravidade">Sem gravidade</option>
            </select>
        </div>
        <button class="btn btn-sm btn-success" value="Atualizar" (click)="atualizar()">Atualizar</button>
        <a class="btn btn-sm btn-info" style="margin-left: 5px;" [routerLink]="['/cadastros']">Voltar</a>
    </form>
</div>